@tailwind base;
@tailwind components;
@tailwind utilities;

/* optional: smooth background transition on theme change */
:root {
  --bg-primary: theme(colors.white);
  --text-primary: theme(colors.gray.800);
}
body {
  @apply bg-white text-gray-800  transition-colors duration-300;
}
.dark body {
  @apply bg-slate-900 text-white;
}
